@import './base.css';
@import './tailwind.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
}

a {
  color: #32c5ff;
  text-decoration: underline;
  transition: 0.4s;
  padding: 3px;
}
